frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
frontend/*.log
backend/.env
backend/build
backend/.gradle
backend/.idea
backend/.kotlin
backend/uploads
backend/uploads-web
