ktor {
    deployment {
        port = 8081
        port = ${?PORT}
        port = ${?WEB_PORT}
    }
    application {
        modules = [ lt.skautai.ApplicationKt.module ]
    }
}

database {
    url = "jdbc:postgresql://localhost:5432/skautu_inventorius"
    url = ${?DB_URL}
    driver = "org.postgresql.Driver"
    user = "postgres"
    user = ${?DB_USER}
    password = "your_password_here"
    password = ${?DB_PASSWORD}
}
